# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# TypeScript output
dist

# Flattened output
flattened

# Temporary test files
spec/.temp

# Build files
/packages/exposure-keys/proto/
!/packages/exposure-keys/proto/export.proto
